@inherits LayoutComponentBase
<div class="page">
    <main>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand fw-bolder" href="#">
                    <img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    LiveTube
                </a>
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
